<h1>Orders</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |o| %>
    <tr>
      <td>
        <%= o.id %>
      </td>
      <td>
        <%= o.date %>
      </td>
      <td>
        <%= o.user.last_name %>
      </td>
      <td>
        <%= o.details %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>